Repository sibiraj-s/react-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.yml:

'*.{html,md,json,yaml,yml,scss}':
  - prettier --write

'*.{js,jsx}':
  - eslint --fix

ci: update actions/deploy-pages to v2
  .github/workflows/pages.yml
Due: prettier --write

build: bump dependencies and devDependencies
  package-lock.json
  package.json
Due: prettier --write

chore: bump dependencies
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  package-lock.json
  package.json
Due: prettier --write

ci: bump actions
  .github/workflows/pages.yml
  .github/workflows/tests.yml
Due: prettier --write

chore: replace eslint with oxlint
  .eslintrc.yml
  .lintstagedrc.yml
  .oxlintrc.json
  package-lock.json
  package.json
Due: prettier --write

feat: upgrade to tailwindcss v4
  package-lock.json
  package.json
  postcss.config.js
  src/containers/Content/index.jsx
  src/index.js
  src/styles/index.css
  src/styles/index.scss
  tailwind.config.js
Due: prettier --write, eslint --fix

chore: bump dependencies
  package-lock.json
  package.json
Due: prettier --write

ci: fix workflow branch configuration
  .github/workflows/pages.yml
  .github/workflows/tests.yml
Due: prettier --write

test: update snapshot
  src/containers/Content/tests/__snapshots__/index.test.js.snap
Due: none

chore: replace jest with vitest
  .github/workflows/tests.yml
  __mocks__/fileMock.js
  jest.config.js
  package-lock.json
  package.json
  src/App.test.jsx
  src/containers/Content/tests/__snapshots__/index.test.jsx.snap
  src/containers/Content/tests/index.test.jsx
  vitest.config.js
Due: prettier --write, eslint --fix

ci: update github actions
  .github/workflows/pages.yml
  .github/workflows/tests.yml
Due: prettier --write

chore: bump dependencies
  .lintstagedrc.yml
  .oxfmtrc.json
  .prettierrc.yml
  package-lock.json
  package.json
  src/App.test.jsx
  src/containers/Content/index.jsx
  src/containers/Content/tests/index.test.jsx
  src/index.html
  src/index.js
  vitest.config.js
  webpack.config.js
Due: prettier --write, eslint --fix
