Repository sibiraj-s/react-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ignore-path .gitignore --fix

chore: update package.json
  package.json
Due: prettier --write

fix: use ESM for file mocks
  __mocks__/fileMock.js
Due: eslint --ignore-path .gitignore --fix

fix: update jsconfig.json
  jsconfig.json
Due: prettier --write

test: prefer jest/globals
  package-lock.json
  package.json
  src/App.test.js
  src/containers/Content/tests/index.test.js
Due: prettier --write, eslint --ignore-path .gitignore --fix

chore: update eslint config
  .eslintrc.yml
Due: prettier --write

chore: update commitlint config
  .commitlintrc.yml
Due: prettier --write

chore: update tailwindcss to v3.0.1
  package-lock.json
  package.json
Due: prettier --write

chore: update devDependencies
  package-lock.json
  package.json
Due: prettier --write

chore: update dependencies and devDependencies
  package-lock.json
  package.json
Due: prettier --write

chore: update lint-staged config
  .lintstagedrc.yml
Due: prettier --write

build: update devDependencies
  package-lock.json
  package.json
Due: prettier --write

build: update tailwindcss to v3.0.23
  package-lock.json
  package.json
Due: prettier --write

build: update core-js to v3.21.1
  package-lock.json
  package.json
Due: prettier --write

ci: update actions/checkout and actions/setup-node to v3
  .github/workflows/ghpages.yml
  .github/workflows/tests.yml
Due: prettier --write

feat: update to react 18
  .eslintrc.yml
  babel.config.js
  package-lock.json
  package.json
  src/App.jsx
  src/App.test.js
  src/containers/Content/index.jsx
  src/containers/Content/tests/index.test.js
  src/index.js
Due: prettier --write, eslint --ignore-path .gitignore --fix

build(deps): update to jest v28
  package-lock.json
  package.json
Due: prettier --write

build(deps): update devDependencies
  package-lock.json
  package.json
Due: prettier --write

build(deps): update tailwindcss to v3.0.24
  package-lock.json
  package.json
Due: prettier --write

build(deps): update core-js to v3.22.4
  package-lock.json
  package.json
Due: prettier --write

build: regenerate package-lock.json
  package-lock.json
Due: prettier --write

build: update dependencies and devDependencies
  package-lock.json
  package.json
Due: prettier --write

test: enable jest verbose logging
  jest.config.js
Due: eslint --ignore-path .gitignore --fix

test: prefer react 18's createRoot api
  src/App.test.js
Due: eslint --ignore-path .gitignore --fix

chore: add typedef comments for webpack config
  webpack.config.js
  webpack/dev.config.js
  webpack/prod.config.js
Due: eslint --ignore-path .gitignore --fix

build: set NODE_ENV for webpack build
  package.json
Due: prettier --write

style: run prettier with eslint
  .eslintrc.yml
  .prettierrc.yml
  babel.config.js
  package-lock.json
  package.json
  postcss.config.js
  src/containers/Content/index.jsx
  src/containers/Content/tests/__snapshots__/index.test.js.snap
  src/styles/index.scss
  tailwind.config.js
  webpack.config.js
  webpack/prod.config.js
Due: prettier --write, eslint --ignore-path .gitignore --fix

build: support tailwindcss in js files
  tailwind.config.js
Due: eslint --ignore-path .gitignore --fix

build(deps): update dependencies
  package-lock.json
  package.json
Due: prettier --write

build(deps): regenerate package-lock.json
  package-lock.json
Due: prettier --write

ci: use official action to publish to pages
  .github/workflows/ghpages.yml
  .github/workflows/pages.yml
Due: prettier --write

ci: restrict workflow permissions
  .github/workflows/tests.yml
Due: prettier --write

chore: bump dependencies
  package-lock.json
  package.json
Due: prettier --write

ci: update to nodejs v18
  .github/workflows/pages.yml
  .github/workflows/tests.yml
Due: prettier --write

chore: update husky hooks
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
Due: none

build: bump devDependencies
  package-lock.json
  package.json
Due: prettier --write

chore: update LICENSE
  LICENSE
Due: none

Path conditions:
  prettier --write: any of: *.{html,md,json,yaml,yml,scss}
  eslint --ignore-path .gitignore --fix: any of: *.{js,jsx}
