Repository sibiraj-s/react-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ignore-path .gitignore --fix

docs: update 2019-11-17T17:18:57.350Z
  images/react-8cc8eac2df26843cac5e88f13628e29c.svg
  index.html
  js/main.1dec16e4f40c34a8cae2.js
  js/vendors~main.fe4cbaf598f21e42daf1.js
  js/vendors~main.fe4cbaf598f21e42daf1.js.LICENSE
  styles/main-e081be07d9159bb8fc8f.css
  webpack.png
Due: prettier --write, eslint --ignore-path .gitignore --fix

chore: bump dependencies and devDependencies
  package-lock.json
  package.json
Due: prettier --write

ci: update checkout action to v2
  .github/workflows/tests.yml
Due: prettier --write

chore: update jest to v25.1.0
  package-lock.json
  package.json
Due: prettier --write

chore: update lintstaged config
  .lintstagedrc.yml
Due: prettier --write

chore: update dependencies and devDependencies
  package-lock.json
  package.json
Due: prettier --write

chore: update eslint config
  .eslintrc.yml
Due: prettier --write

chore(packages): update dependencies
  package-lock.json
  package.json
  tailwind.config.js
  webpack/prod.config.js
Due: prettier --write, eslint --ignore-path .gitignore --fix

test: add @types/jest
  package-lock.json
  package.json
  src/App.test.js
Due: prettier --write, eslint --ignore-path .gitignore --fix

chore: use pegasus lint config
  .eslintrc.yml
  babel.config.js
  jest.config.js
  package-lock.json
  package.json
  postcss.config.js
  scripts/gh-pages.js
  tailwind.config.js
  webpack.config.js
  webpack/dev.config.js
  webpack/prod.config.js
  webpack/utils/env.js
  webpack/utils/paths.js
Due: prettier --write, eslint --ignore-path .gitignore --fix

chore: update dependencies
  package-lock.json
  package.json
Due: prettier --write

chore: update eslint deps
  .eslintrc.yml
  package-lock.json
  package.json
  scripts/gh-pages.js
  webpack.config.js
Due: prettier --write, eslint --ignore-path .gitignore --fix

chore: revert webpack-cli update
  package-lock.json
  package.json
Due: prettier --write

chore: update devDependencies
  .lintstagedrc.yml
  .prettierrc.yml
  package-lock.json
  package.json
  src/styles/index.scss
  src/tailwind.scss
  webpack/prod.config.js
Due: prettier --write, eslint --ignore-path .gitignore --fix

chore: prefer css-minimizer-webpack-plugin
  package-lock.json
  package.json
  webpack/prod.config.js
Due: prettier --write, eslint --ignore-path .gitignore --fix

chore: update webpack to v4.44.2
  package-lock.json
  package.json
Due: prettier --write

chore: regenerate package-lock.json
  package-lock.json
Due: prettier --write

chore: update devDependencies
  .browserslistrc
  package-lock.json
  package.json
  webpack.config.js
  webpack/prod.config.js
Due: prettier --write, eslint --ignore-path .gitignore --fix

chore: update dependencies
  package.json
Due: prettier --write

chore: cleanup and update devDependencies
  package-lock.json
  package.json
  webpack.config.js
Due: prettier --write, eslint --ignore-path .gitignore --fix

chore(packages): update devDependencies
  package-lock.json
  package.json
Due: prettier --write

fix: prefer builtin optimization defaults
  webpack/prod.config.js
Due: eslint --ignore-path .gitignore --fix

chore: update react to v17
  package-lock.json
  package.json
Due: prettier --write

ci: publish docs from workflows
  .github/workflows/ghpages.yml
  package.json
  scripts/gh-pages.js
Due: prettier --write, eslint --ignore-path .gitignore --fix

docs: update 2020-10-29T03:54:58.040Z
  images/react-8e0fd9af5aecfc5595d9557edebc7980.svg
  index.html
  js/412.c7974704b34ebf84aa16.js
  js/412.c7974704b34ebf84aa16.js.LICENSE.txt
  js/main.1dec16e4f40c34a8cae2.js
  js/main.a1bb18eb261b6267c457.js
  js/vendors~main.fe4cbaf598f21e42daf1.js
  js/vendors~main.fe4cbaf598f21e42daf1.js.LICENSE
  styles/main-2e3056807783fbde782d.css
  styles/main-e081be07d9159bb8fc8f.css
Due: prettier --write, eslint --ignore-path .gitignore --fix

chore: update tailwindcss to v2
  package-lock.json
  package.json
Due: prettier --write

chore: remove standard lint config
  .eslintrc.yml
  package-lock.json
  package.json
Due: prettier --write

docs: update 2020-12-13T04:45:04.631Z
  index.html
  js/412.1095fab2babfea2bd3cf.js
  js/412.1095fab2babfea2bd3cf.js.LICENSE.txt
  js/412.c7974704b34ebf84aa16.js
  js/main.26f839e925e6a979d7fb.js
  js/main.a1bb18eb261b6267c457.js
  styles/main-2e3056807783fbde782d.css
  styles/main-a5030bcc15e31fd7593c.css
Due: prettier --write, eslint --ignore-path .gitignore --fix

chore: setup commitlint
  .commitlintrc.yml
  .huskyrc.yml
  package-lock.json
  package.json
Due: prettier --write

chore: update LICENSE
  LICENSE
Due: none

chore: update devDependencies
  package-lock.json
  package.json
Due: prettier --write

ci: update actions/setup-node to v2
  .github/workflows/ghpages.yml
  .github/workflows/tests.yml
Due: prettier --write

ci: run tests for pull requests
  .github/workflows/tests.yml
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{html,md,json,yaml,yml}
  eslint --ignore-path .gitignore --fix: any of: *.{js,jsx}
