Repository sibiraj-s/react-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ignore-path .gitignore --fix

docs: update 2021-01-15T07:03:01.484Z
  index.html
  js/412.1095fab2babfea2bd3cf.js
  js/412.db0954cf0acab0a29f2b.js
  js/412.db0954cf0acab0a29f2b.js.LICENSE.txt
Due: prettier --write, eslint --ignore-path .gitignore --fix

chore: update devDependencies
  package-lock.json
  package.json
  webpack.config.js
Due: prettier --write, eslint --ignore-path .gitignore --fix

docs: update 2021-02-12T04:44:57.963Z
  index.html
  js/412.8ef4ea8f72ea981f39c7.js
  js/412.8ef4ea8f72ea981f39c7.js.LICENSE.txt
  js/412.db0954cf0acab0a29f2b.js
  styles/main-a5030bcc15e31fd7593c.css
  styles/main-e74ceb0ed432c285e3e5.css
Due: prettier --write, eslint --ignore-path .gitignore --fix

ci: fix publish to gh-pages
  package.json
Due: prettier --write

perf: improve optimization
  webpack.config.js
Due: eslint --ignore-path .gitignore --fix

docs: update 2021-02-12T05:01:46.344Z
  index.html
  js/main.26f839e925e6a979d7fb.js
  js/main.41b5ffe02bff6f2eba56.js
  styles/main-091d8a32607dd188dcaa.css
  styles/main-e74ceb0ed432c285e3e5.css
Due: prettier --write, eslint --ignore-path .gitignore --fix

chore: update to nodejs v16
  .github/workflows/ghpages.yml
  .github/workflows/tests.yml
  package-lock.json
  package.json
  src/styles/index.scss
Due: prettier --write

docs: update 2021-04-25T06:03:07.999Z
  index.html
  js/412.8ef4ea8f72ea981f39c7.js
  js/480.afe0cf80cd6c79b19734.js
  js/480.afe0cf80cd6c79b19734.js.LICENSE.txt
  js/main.41b5ffe02bff6f2eba56.js
  js/main.d9ff9530080f95ac8b6b.js
  styles/main-091d8a32607dd188dcaa.css
  styles/main-636d1026fd832eba2ac1.css
Due: prettier --write, eslint --ignore-path .gitignore --fix

chore: setup huskyjs
  .husky/.gitignore
  .husky/commit-msg
  .husky/pre-commit
  .huskyrc.yml
  package-lock.json
  package.json
Due: prettier --write

feat: dark theme
  src/App.jsx
  src/containers/Content/index.jsx
  src/index.html
  src/index.js
  src/styles/index.scss
  src/tailwind.scss
  tailwind.config.js
Due: prettier --write, eslint --ignore-path .gitignore --fix

chore: fix tests
  .husky/pre-push
  src/containers/Content/tests/__snapshots__/index.test.js.snap
Due: none

chore: update dependencies and devDependencies
  .husky/.gitignore
  package-lock.json
  package.json
  webpack.config.js
Due: prettier --write, eslint --ignore-path .gitignore --fix

chore: update README.md
  README.md
Due: prettier --write

chore: update webpack optimization settings
  webpack.config.js
Due: eslint --ignore-path .gitignore --fix

ci: cache npm dependencies
  .github/workflows/ghpages.yml
  .github/workflows/tests.yml
Due: prettier --write

chore: set jest environment to jsdom
  jest.config.js
Due: eslint --ignore-path .gitignore --fix

build: split vendor chunks
  webpack.config.js
Due: eslint --ignore-path .gitignore --fix

docs: update 2021-07-30T07:16:43.041Z
  index.html
  js/522.493753ca0bd17a88c9fa.js
  js/main.8c3e79143d16c37bb87a.js
  js/main.9a073cde678af5a49903.js
  js/vendors.442eff18c1970209673a.js
  js/vendors.442eff18c1970209673a.js.LICENSE.txt
Due: prettier --write, eslint --ignore-path .gitignore --fix

chore: update dependencies and devDependencies
  .eslintrc.yml
  package-lock.json
  package.json
Due: prettier --write

docs: update 2021-08-18T18:45:30.515Z
  index.html
  js/main.9a073cde678af5a49903.js
  js/main.a4ad9a9c3a13fd9e545f.js
  js/vendors.1df372ca64c82474b088.js
  js/vendors.1df372ca64c82474b088.js.LICENSE.txt
  js/vendors.442eff18c1970209673a.js
Due: prettier --write, eslint --ignore-path .gitignore --fix

ci: enable cache for build job
  .github/workflows/tests.yml
Due: prettier --write

ci: publish to gh-pages as github bot
  .github/workflows/ghpages.yml
Due: prettier --write

chore: update dependencies and devDependencies
  package-lock.json
  package.json
Due: prettier --write

chore: update deprecated npx commands
  .husky/commit-msg
  .husky/pre-commit
Due: none

chore: update devDependencies
  package-lock.json
  package.json
Due: prettier --write

build: simplify webpack setup
  .github/workflows/ghpages.yml
  .github/workflows/tests.yml
  package.json
  webpack.config.js
  webpack/utils/env.js
Due: prettier --write, eslint --ignore-path .gitignore --fix

chore: update webpack to v5.64.0
  package-lock.json
  package.json
Due: prettier --write

ci: remove duplicate jobs
  .github/workflows/tests.yml
Due: prettier --write

build: set vendor chunk max-size
  webpack.config.js
Due: eslint --ignore-path .gitignore --fix

chore: update publish scripts
  package-lock.json
  package.json
  scripts/gh-pages.js
Due: prettier --write, eslint --ignore-path .gitignore --fix

chore: prefer node protocol
  webpack.config.js
  webpack/utils/paths.js
Due: eslint --ignore-path .gitignore --fix

chore: update core-js to v3.19.3
  package-lock.json
  package.json
Due: prettier --write

chore: update tailwindcss to v3
  package-lock.json
  package.json
  tailwind.config.js
Due: prettier --write, eslint --ignore-path .gitignore --fix

chore: regenerate package-lock.json
  package-lock.json
Due: prettier --write

refactor: drop IE 11 support
  .browserslistrc
Due: none

ci: update gh-pages workflow
  .github/workflows/ghpages.yml
  package-lock.json
  package.json
  scripts/gh-pages.js
Due: prettier --write, eslint --ignore-path .gitignore --fix

Path conditions:
  prettier --write: any of: *.{html,md,json,yaml,yml,scss}
  eslint --ignore-path .gitignore --fix: any of: *.{js,jsx}
